[include shell_command.cfg]
# This file contains common pin mappings for the 2018 Creality
# Ender 3. To use this config, the firmware should be compiled for the
# AVR atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[include timelapse.cfg]
[include sample-bigtreetech-ebb-sb-usb-v1.0.cfg]
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.


[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 128
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 236
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 128
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -16
position_max: 220
position_min: -16
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 128
rotation_distance: 8
#endstop_pin: ^PC2
#position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

#[extruder]
#step_pin: PB3
#dir_pin: PB4
#enable_pin: !PD1
#microsteps: 128
#gear_ratio: 50:17
#rotation_distance: 23.056
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: PC8
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
#min_temp: 0
#max_temp: 260
#min_extrude_temp: 0
#max_extrude_only_distance:100


#[tmc2209 extruder]
#uart_pin: PC11
#tx_pin: PC10
#uart_address: 3
#run_current: 0.500
#hold_current: 0.400
#stealthchop_threshold: 0

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#====================================================================
# FANS
#====================================================================
#[heater_fan hotend_fan]
#pin: PB15
#heater: extruder
#heater_temp: 35.0

#[fan]
#pin: PC6
#max_power: 0.4

[controller_fan my_controller_fan]
pin: PC7
fan_speed: 1.0

#[fan_generic extruder_partfan]
#pin: PC7
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.


[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504434031095831C-if00

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1D003D001250415833323520-if00
 serial: /dev/ttyAMA0
 restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

#====================================================================
# PROBE CONFIG
#====================================================================
[output_pin probe_enable]
pin: EBB:gpio22
value: 0
[gcode_macro Probe_Deploy]
gcode:
 SET_PIN PIN=probe_enable VALUE=1
[gcode_macro Probe_Stow]
gcode:
 SET_PIN PIN=probe_enable VALUE=0
[probe]
pin: ^EBB:gpio21 ## For V1 version, set to ^PC14 for high-level trigger; for V2 version, set to ^!PC14 for low-level trigger.
deactivate_on_each_sample: False
x_offset: -56.0 # Actual offset of the MicroProbe installation
y_offset: -10.0 # Actual offset of the MicroProbe installation
z_offset: -2.0 # Actual offset of the MicroProbe installation
speed: 5.0
activate_gcode:
 Probe_Deploy
 G4 P500 # Allow 500 milliseconds for the probe to deploy
deactivate_gcode:
 Probe_Stow
[safe_z_home]

home_xy_position: 115,115 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

#====================================================================
# MANUAL BED LEVELING
#====================================================================
[bed_screws]
screw1: 35,35
screw1_name: front left screw
screw2: 35,195
screw2_name: rear left screw
screw3: 195,195
screw3_name: rear right screw
screw4: 195,35
screw4_name: front right screw

#====================================================================
# BED MESH PARAMETERS
#====================================================================
[bed_mesh]
speed: 200
horizontal_move_z: 5


mesh_min: 35,35
mesh_max: 180,180
probe_count: 6

mesh_pps: 2
algorithm: bicubic
#fade_start: 1
#fade_end: 10
#fade_target: 0

#====================================================================
# TEMPERATURAS DE PLACAS
#====================================================================

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor controladora]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBB:gpio27

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.944
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.232
#*# pid_ki = 3.523
#*# pid_kd = 73.730
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.778
#*# pid_ki = 1.157
#*# pid_kd = 824.736
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.063750, -0.080313, -0.075000, -0.096250, -0.101250, -0.131563
#*# 	  -0.035313, -0.047500, -0.044063, -0.051250, -0.052500, -0.076875
#*# 	  0.010312, -0.016250, -0.019375, -0.046250, -0.044688, -0.077813
#*# 	  -0.000313, -0.005000, -0.002500, -0.021250, -0.023125, -0.043438
#*# 	  -0.002188, -0.009375, -0.020625, -0.050313, -0.049063, -0.077188
#*# 	  -0.051250, -0.049688, -0.054063, -0.081563, -0.084375, -0.120313
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 180.0
#*# min_y = 35.0
#*# max_y = 180.0
